nav{
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;
}
input{
    border: 2px solid #d1d5db;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    outline: none;
}
.nav-icons{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    color: #494949;
}
