.fhilomen__header {
  display: flex;
  flex-direction: row;
}

.fhilomen__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.fhilomen__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.fhilomen__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);
  margin-top: 1.5rem;
}
.fhilomen__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.fhilomen__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: var(--color-head);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-radius: 0;
  /* margin-right: 0; */
}
/* 
.fhilomen__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #002366;
  border: 2px solid #002366;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */
.fhilomen__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fhilomen__header-image img {
  width: 480px;
  height: 100%;
}
.button-link {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #002366;
  border: 2px solid #002366;
  padding: 15px 20px;
  text-align: center; 
  color: #fff;
  cursor: pointer;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1050px) {
  .fhilomen__header {
    flex-direction: column;
  }

  .fhilomen__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .fhilomen__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .fhilomen__header-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .fhilomen__header-content__input input,
  .fhilomen__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 490px) {
  .fhilomen__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .fhilomen__header-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .fhilomen__header-content__input input,
  .button-link {
    font-size: 14px;
    line-height: 16px;
  }
  .fhilomen__header-image img {
    width: 300px;
    height: 100%;
  }
}
